@font-face {
    font-family: Ballega;
    src: url("../assets/fonts/Ballega.otf");
}

.ballega {
    font-family: Ballega;
}

@font-face {
    font-family: GodshineSans;
    src: url("../assets/fonts/GodshineSans.otf");
}

.jose .godshinesans {
    font-family: GodshineSans;
}

@font-face {
    font-family: Bantayog;
    src: url("../assets/fonts/Bantayog/Bantayog-Regular.woff2"),
            url("../assets/fonts/Bantayog/Bantayog-Regular.woff"),
            url("../assets/fonts/Bantayog/Bantayog-Regular.otf");
    font-display: swap;
}

.jose .bantayog {
    font-family: Bantayog;
}

@font-face {
    font-family: Barabara;
    src: url("../assets/fonts/BARABARA.otf");
}

.jose .barabara {
    font-family: Barabara;
}
